@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.login {
    height: 100vh;
    background: linear-gradient(to top, #3366ff 0%, #9933ff 100%);
    display: grid;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

.login > img {
    margin-top: 10px;
    height: 250px;
    width: 250px;
}

gradient-text {
    /* Use a text as a mark for the background */
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

a:hover, a:hover {
    animation: button-animation-rev 0.4s ease-out forwards;
}

a:hover {
    box-shadow: 3px 2px 10px 1px rgba(0,0,0,0.3);
    transition: 0.5s;
  }

  @keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
  }
  
  @keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }

  a {
    font-weight: 900;
    color: #fff;
    background-image: linear-gradient(45deg, #631c9c 50%, #410ca3 50%);
    /* Set the background size and repeat properties */
    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;
    animation: button-animation 0.50s 0.15s ease-out forwards;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: auto;
    padding: 25px;
    border-radius: 99px;
  }

 #title{
    font-weight: bold;
    color: #fff;
    font-size: 62pt;
    margin-bottom: auto;
    letter-spacing: -4px;
    line-height: 8px;
    
}

.container {
    margin-bottom: auto;
}